@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400|Playfair+Display:400,700,900");
* {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #323648; }

.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif; }

h1 {
  font-weight: bold;
  font-size: 4rem;
  margin: 3rem 0 1.5rem 0; }

h2 {
  margin: 0.5em 0; }

body {
  margin: 0 0px; }

p, li {
  font-weight: 300; }

ul {
  list-style: none;
  padding-left: 0px; }

li.social {
  margin: 0.3em 0; }

#homepage-main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

section p, section ul {
  margin-left: 0px;
  line-height: 1.3; }
